{% extends 'base.html'%}
{% load static %}

{% block content %}

<section class="content-2 simple col-1 col-undefined mbr-parallax-background mbr-after-navbar" id="content5-77" style="background-image: url({{ event.photo.url }});">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ event.title }}</h3>
                        <div><p> Дата: {{ event.created_at }} <br></p></div>
                        <div><p> Тип: {{ event.category }} <br></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="header3-78">
    <div class="mbr-section__container container mbr-section__container--first">
        <div class="mbr-header mbr-header--wysiwyg row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="mbr-article mbr-article--wysiwyg col-sm-8 col-sm-offset-2"> {{ event.content | safe }} </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}